---
import Layout from "../Layouts/Layout.astro";
import Boton from "../components/Boton.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/HeaderPage.astro";
import SimpleCard from "../components/SimpleCard.astro";
---

<Layout>
  <Header />
  <main class="[&>section]:px-[10%]">
    <section class="h-screen flex items-center">
      <div
        class="flex justify-between items-center bg-white px-16 rounded shadow-2xl"
      >
        <div class="w-[50%] flex flex-col gap-5">
          <h2 class="text-4xl font-bold">Bulda e' Rapida</h2>
          <p class="w-11/12">
            "¡El rápido y confiable servicio de delivery que estabas esperando
            ha llegado a Carabobo! Bulda e' Rapido es tu aliado para entregas
            rápidas y seguras, al estilo de Amazon. ¡Descubre una nueva forma de
            disfrutar de tus compras y recibir tus pedidos en tiempo récord!
            ¡Somos tu solución de entrega a domicilio en Venezuela!"
          </p>
          <div class="flex gap-5">
            <Boton title="Descargar App" />
            <Boton title="¡Pide Ya!" />
          </div>
        </div>
        <img
          width="311"
          height="311"
          class="w-[50%] bg-cover bg-no-repeat"
          src="/moto.webp"
          alt=""
        />
      </div>
    </section>
    <section class="h-screen pb-20">
      <h2 class="text-center mb-12 text-4xl">About</h2>
      <div class="flex gap-5">
        <div class="flex flex-col gap-5 w-1/2">
          <div class="bg-[#FFA851] rounded px-12 py-5 shadow-2xl">
            <h3 class="text-xl font-bold">Mision</h3>
            <p class="text-lg">
              "Nuestra misión en Bulda e' Rapido es llevar la comodidad hasta la
              puerta de tu casa. Somos la solución de delivery de pedidos y
              mercancías más rápida y confiable en Venezuela, específicamente en
              el estado Carabobo. Trabajamos arduamente para hacer tus compras
              más fáciles, rápidas y seguras, brindándote un servicio impecable
              que supera tus expectativas. ¡Confía en nosotros y disfruta de la
              velocidad en cada entrega!"
            </p>
          </div>
          <div class="bg-[#FFA851] rounded px-12 py-5 shadow-2xl">
            <h3 class="text-xl font-bold">Vision</h3>
            <p class="text-lg">
              "¡Convierte tus deseos en realidad! En Bulda e' Rapido, estamos
              aquí para llevarte todo lo que necesitas, directo a tu puerta en
              tiempo récord. Nuestra visión es convertirnos en el aliado
              confiable de entregas rápidas y eficientes, superando tus
              expectativas a cada paso. ¡Descubre la nueva forma de comprar y
              recibir, solo en Bulda e' Rapido, en Venezuela!"
            </p>
          </div>
        </div>
        <div
          class="w-1/2 bg-[#FFA851] rounded px-12 py-5 shadow-2xl flex flex-col gap-3"
        >
          <h3 class="text-xl font-bold mb-2">Equipo</h3>
          <SimpleCard
            name="Jesus Lopez"
            area="Programer"
            image="/team/jesus.webp"
          />
          <SimpleCard
            name="Jesus Lopez"
            area="Programer"
            image="/team/jesus.webp"
          />
          <SimpleCard
            name="Jesus Lopez"
            area="Programer"
            image="/team/jesus.webp"
          />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style is:global>
  @font-face {
    font-family: "UbuntuCondensed";
    src: url("/fonts/UbuntuCondensed.ttf");
    font-weight: normal;
    font-display: swap;
  }
</style>
