---
import Layout from "../Layouts/Layout.astro";
import Boton from "../components/Boton.astro";
import Header from "../components/HeaderPage.astro";
---

<Layout>
  <Header />
  <main class="[&>section]:px-[10%]">
    <section class="h-screen flex justify-between items-center">
      <div class="w-[50%] flex flex-col gap-5">
        <h2 class="text-4xl font-bold">Bulda e' Rapida</h2>
        <p class="w-11/12">
          "¡El rápido y confiable servicio de delivery que estabas esperando ha
          llegado a Carabobo! Bulda e' Rapido es tu aliado para entregas rápidas
          y seguras, al estilo de Amazon. ¡Descubre una nueva forma de disfrutar
          de tus compras y recibir tus pedidos en tiempo récord! ¡Somos tu
          solución de entrega a domicilio en Venezuela!"
        </p>
        <div class="flex gap-5">
          <Boton title="Descargar App" />
          <Boton title="¡Pide Ya!" />
        </div>
      </div>
      <img class="w-[50%]" src="/moto.webp" alt="" />
    </section>
  </main>
  <footer></footer>
</Layout>

<style is:global>
  @font-face {
    font-family: "UbuntuCondensed";
    src: url("/fonts/UbuntuCondensed.ttf");
    font-weight: normal;
  }
</style>
