---
import Layout from "../Layouts/Layout.astro";
---

<Layout>
  <main>
    <form>
      <input type="text" />
      <input type="password" name="" id="" />
      <button>SignIn</button>
    </form>
  </main>
</Layout>
