---
interface Props {
  name?: string;
  area?: string;
  image?: string;
}
const {
  name = "Default name",
  area = "Desc default",
  image = "#",
} = Astro.props;
---

<div
  class="bg-white rounded border border-gray-300 shadow-lg flex items-center gap-5"
>
  <img
    width="100"
    height="100"
    class="rounded-bl rounded-l object-cover"
    src={image}
    alt={name + area}
  />
  <div>
    <h4 class="font-bold text-lg">{name}</h4>
    <h5>{area}</h5>
  </div>
</div>
