<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="description" content="This is a page." />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <meta name="keywords" content="" />
    <!-- other meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bulda</title>
    <!-- other links -->
    <link
      rel="preload"
      href="/fonts/UbuntuCondensed.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link rel="preload" href="/Fondo.svg" as="image" type="image/webp" />
  </head>

  <body
    style="background:url(Fondo.svg) no-repeat; background-size: cover;"
    class="font-UbuntuCondensed"
  >
    <slot />
  </body>
</html>
